*,
*::after,
*::before{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

#my_header {
    background-image: url(images/imagine.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.imag{
    width: 100px;
    height: 100px;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    max-width: 960px;
    padding: 0 220px 220px;
    background-color: antiquewhite;
}

.h3 {
    font-size: 24px;
}

.link {
    font-size: 16px;
}

.my_table {
    border: 3px solid #2c2b2b;
}

table {
    border: 1px solid grey;
}
th {
    border: 1px solid grey;
}
td {
    border: 1px solid grey;
}

.table-primary {
    background-color: aqua;
}

.table-secondary {
    background-color: #61a1b9;
}

.my_form {
    background-color: #b26a6c;
}

.my_footer {
    width: auto;
    height: 85px;
    background-color: antiquewhite;
}

